@import '../../../../app/utils.scss';

$size: 2.15rem;

// Container
.contactCont {
  width: $size;
  height: $size;
  position: relative;
  overflow-y: hidden;
}

// Open
.contactContOpen .contact {
  margin: -$size 0 0 0;
}

// Contact button
.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  position: relative;

  border-radius: 50%;
  background: var(--nav-items);
  transition: var(--theme-transition);

  &::before {
    @include blur;
  }

  path {
    stroke: var(--second);
    transition: var(--theme-transition);
  }

  // Disable text inside
  span {
    display: none;
  }
  
  .contactIcon div:last-child {
    display: none;
  }

  // Envelope container center
  .contactIcon div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }
}



// Desktop
@media all and (min-width: 1025px) {
  // Contact btn
  $contactHeight: 2.03rem; 

  .contactCont {
    order: 4;
    width: initial;
    height: initial;
    position: initial;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;

    width: initial;
    padding: 0 1.18rem;
    height: $contactHeight;
    position: relative;

    border-radius: 10rem;
    background: var(--nav-items);
    color: var(--second);
    text-decoration: none;

    @include hover;

    &::before {
      @include blur;
    }

    // On hover
    &:hover {
      div:first-child {
        margin: calc(-#{$contactHeight} - 0.075rem) 0 0 0;
      }
    }

    svg {
      margin: 0.05rem 0 0 0.42rem;

      path {
        stroke: var(--second);
        transition: var(--theme-transition);
      }
    }

    .contactSend {
      width: 0.813rem;
      height: 0.813rem;

      path {
        fill: var(--second);
      }
    }

    // Contact icon animation
    .contactIcon {
      height: $contactHeight;
      overflow-y: hidden;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        transition: var(--theme-transition);
      }
    }

    // Text inside
    span {
      display: inline;

      font-size: 0.72rem;
      white-space: nowrap;
    }

    .contactIcon div:last-child {
      display: flex;
    }
  }

}