@import '../../../app/utils.scss';

.benefits {
  display: flex;
  flex-direction: column;
  padding: 9.38rem 0 0 0;

  h2 {
    margin: 0 0 1.8rem 0;
    padding: 0 var(--padding);

    font-size: 0.925rem;
    font-weight: 400;
    font-family: var(--poppins);
  }
}

@media all and (min-width: 1025px) {
  .benefits {
    display: flex;
    flex-direction: column;
    padding: 16.5rem 0 0 0;
    overflow: hidden;
  
    h2 {
      margin: 0 0 4.3rem 0;
      padding: 0 var(--padding);
  
      font-size: 1.34rem;
      font-weight: 300;
      font-family: var(--poppins);
    }
  }
}