.work {
  display: flex;
  flex-direction: column;

  padding: 12rem var(--padding) 0 var(--padding);

  h2 {
    align-self: flex-end;
    
    margin: 0 0 2.55rem 0;

    font-size: 1.28rem;
    font-weight: 300;
    font-family: var(--poppins);
  }
}