.projects {
  margin: 6.94rem var(--padding) 0 var(--padding);
}

// Project
.project {
  margin: 7.31rem 0 0 0;

  &:first-child {
    margin: 0;
  }
}

// Image
.imageCont {
  margin: 1.75rem 0 0 0;
  position: relative;
  width: 100%;
  aspect-ratio: 2.13;
}

// Content
.content {
  padding: 0;

  h3 {
    font-size: 1.475rem;
  }

  .link {
    margin: 0.9rem 0 0 0;
  }

  p {
    margin: 1.95rem 0 0 0;

    font-size: 0.812rem;
    font-weight: 200;
    line-height: 190%;
  }
}

// If project index is even -> revert layout
.projectEven {
  grid-template-columns: 22.33% 77.77%;

  .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.desktop {
  display: none;
}



// Desktop
@media all and (min-width: 1025px) {
  .projects {
    margin: 6.94rem var(--padding) 0 var(--padding);
  }
  
  // Project
  .project {
    display: grid;
    grid-template-columns: 77.77% 22.33%;
    justify-content: space-between;
    
    overflow-x: hidden;
    width: 100%;
    margin: 7.31rem 0 0 0;
  
    &:first-child {
      margin: 0;
    }
  }
  
  // Image
  .imageCont {
    margin: 0;
    position: relative;
    width: 100%;
    aspect-ratio: 2.13;
  }
  
  // Content
  .content {
    padding: 3.13rem 0 0 2.77rem;
  
    h3 {
      font-size: 2.025rem;
    }
  
    .link {
      margin: 0.675rem 0 0 0;
    }
  
    p {
      margin: 3rem 14% 0 0;
  
      font-size: 1rem;
      font-weight: 200;
      line-height: 193%;
    }
  }
  
  // If project index is even -> revert layout
  .projectEven {
    grid-template-columns: 22.33% 77.77%;
  
    .content {
      padding-left: 0;
      padding-right: 2.25rem;
    }
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: grid;
  }

}