@import '../../../app/utils.scss';

.solution {
  padding: 6.125rem var(--padding) 0 var(--padding);

  h2 {
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 1rem;
    color: var(--second);
    opacity: .9;
    letter-spacing: -0.42px;
  }

  p {
    margin: 1.65rem 0 0 0;

    font-size: 1.59rem;
    font-weight: 300;
    color: var(--second);
    line-height: 142%;
    letter-spacing: -0.88px;
  }
}

@media all and (min-width: 1025px) {
  .solution {
    padding: 9rem var(--padding) 0 var(--padding);
  
    h2 {
      font-family: var(--poppins);
      font-weight: 300;
      font-size: 1.38rem;
      color: blackVariation(0.936);
      opacity: .9;
      letter-spacing: -0.42px;
    }
  
    p {
      margin: 2.6rem 33% 0 0;
  
      font-size: 2.88rem;
      font-weight: 300;
      color: var(--second);
      line-height: 141.2%;
      letter-spacing: -2.15px;
    }
  }
  
}