.solution {
  padding: 6.125rem var(--padding1) 0 var(--padding1);

  h2 {
    font-family: var(--poppins);
    font-weight: 300;
    font-size: 1rem;
    color: var(--second);
    opacity: .9;
    letter-spacing: -0.42px;
  }

  p {
    margin: 1.65rem 0 0 0;

    font-size: 1.59rem;
    font-weight: 300;
    color: var(--second);
    line-height: 142%;
    letter-spacing: -0.88px;
  }
}