@import "../../../../app/utils.scss";

.project {
  margin: 3.5rem 0 0 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

// Animate
.curtain {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom;
  width: 100%;
  height: 100%;
  background: var(--primary);
}



// Desktop
@media all and (min-width: 1025px) {
  .project {
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: initial;
  }
  
  // Animate
  .curtain {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: bottom;
    width: 100%;
    height: 100%;
    background: var(--primary);
  }

}
