@import "../../../../app/utils.scss";

.project {
  margin: 3.5rem 0 0 0;
}

// Wrapper
.imgWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}



// Desktop
@media all and (min-width: 1025px) {
  .project {
    position: relative;
    margin: 0;
    height: initial;
  }

  // Wrapper
  .imgWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

}
