@import '../../app/utils.scss';

$paddingTop: 0.545rem;

.btnLink {
  padding: $paddingTop + 0.04rem 1.63rem $paddingTop 1.63rem;

  font-size: 0.822rem;
  font-weight: 400;
  color: var(--second);
  text-decoration: none;
  border-radius: 50rem;
  background: greyVariation(0.2);
  white-space: nowrap;
}



// Desktop view
@media all and (min-width: 1024px) {
  $paddingTop: 0.542rem;

  .btnLink {
    padding: $paddingTop + 0.1rem 1.85rem $paddingTop 1.85rem;

    font-size: 0.835rem;
    font-weight: 400;
    color: var(--second);
    text-decoration: none;
    border-radius: 50rem;
    background: greyVariation(0.2);
    white-space: nowrap;
  }

}