.cont {
  position: fixed;
  z-index: 400;
  width: 100%;
  top: 4.25rem;
  margin: 0 0 0 var(--padding);
  perspective: 62.5rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-menu);
}

// Boxes
.menu, .contact {
  width: calc(100% - var(--padding) * 2);
  padding: calc(var(--padding) + 0.2rem) calc(var(--padding) - 0.27rem);
  
  background: var(--nav-menu);
  transition: var(--transition-slow-fast);
  backdrop-filter: blur(var(--nav-blur)) opacity(0);
  border-radius: 0.9rem;
}

// Inner wrapper
.wrapper {
  transition: var(--transition-menu);
  transform: rotateX(-90deg);
  transform-origin: top;
}

// Main part
.menu {
  li {
    margin: 0.5rem 0.38rem;

    list-style-type: none;
    font-size: 1.5rem;
    
    a {
      color: var(--second);
    }

    svg path {
      fill: var(--second);
      transition: var(--theme-transition);
    }
  }
}

// Link container
.links {
  opacity: 0;
  transition: var(--transition-menu);
}

// Separate contact
.contact {
  margin: 0.527rem 0 0 0;
  padding: calc(var(--padding) - 0.05rem) calc(var(--padding) - 0.27rem) calc(var(--padding) + 0.2rem) calc(var(--padding) - 0.27rem);

  h5 {
    margin: 0 0.38rem;
    padding: 0 0.92rem;

    list-style-type: none;
    font-family: var(--eiko);
    font-weight: 300;
    -webkit-text-stroke: var(--nav-menu-thickness);
    letter-spacing: 0.043rem;
    font-size: 1.5rem;
    opacity: 0;
    transition: var(--transition-menu);
    
  }
  
  a {
    text-decoration: none;
    color: var(--second);
  }

  svg {
    margin: 0.1rem 0 0 0.8rem;
    transform: scale(1.4);

    transition: var(--theme-transition);

    path {
      fill: var(--second);
      transition: var(--theme-transition);
    }
  }

  &:hover {
    svg {
      margin-left: 1.1rem;
    }
  }
}



// Open
.contOpen {
  .menu, .contact {
    backdrop-filter: blur(var(--nav-blur)) opacity(1);
    transition: var(--transition-menu-delay);
  }
  
  .wrapper {
    transform: rotateX(0deg);
  }

  .links, .contact h5 {
    opacity: 1;
    transition: opacity var(--transition-menu) 250ms;
  }

  opacity: 1;
  visibility: visible;
}

// Desktop
@media all and (min-width: 1025px) {
  .cont {
    display: none;
  }

}