.cont {
  position: fixed;
  z-index: 400;
  width: 100%;
  top: 4.25rem;
  margin: 0 0 0 var(--padding);
  perspective: 62.5rem;

  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-menu);
}

.menu {
  width: calc(100% - var(--padding) * 2);
  transform: rotateX(-90deg);
  padding: calc(var(--padding) + 0.2rem) calc(var(--padding) - 0.27rem);
  
  background: rgb(30, 30, 30, 0.725);
  transition: var(--transition-slow-fast);
  backdrop-filter: blur(var(--blur)) opacity(0);
  border-radius: 1.3rem;
  transform-origin: top;
  transition: var(--transition-menu);

  li {
    margin: 0.5rem;

    list-style-type: none;
    font-size: 1.5rem;
    color: var(--primary);
  }
}

// Link container
.links {
  opacity: 0;
  transition: var(--transition-menu);
}

// Open
.contOpen {
  .menu {
    transform: rotateX(0deg);

    backdrop-filter: blur(var(--blur)) opacity(1);
    transition: var(--transition-menu-delay);
  }

  .links {
    opacity: 1;
    transition: opacity var(--transition-menu) 250ms;
  }

  opacity: 1;
  visibility: visible;
}

// Desktop
@media all and (min-width: 1025px) {
  .menu {
    display: none;
  }

}