* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Color theme
  --primary: #000;
  --second: #fff;
  --accent1: #594cff;
  --accent2: #110039;
  --accent1-contrast: #fff;
  --black: #000;
  --white: #fff;

  --nav-items: rgb(50, 50, 50, 0.6);

  --items: rgb(50, 50, 50, 0.6);
  // --items: rgb(186, 186, 186, 0.17);
  --items-darker: rgb(50, 50, 50, 0.55);
  // --items-darker: rgb(186, 186, 186, 0.132);

  --projects-tags: #fff;
  --projects-tags-bg: rgb(0, 0, 0, 0.42);

  --cursor-work: rgb(255, 255, 255, 0.7);

  --scroll-background: #353540;
  --scroll-hover: #474755;
  --scroll-width: 0.475vw;

  --link-bg: rgb(242, 242, 242, 0.91);

  // Hover
  --hover-transition: border 120ms ease, background 120ms ease;
  --border-hover: 0.08rem solid transparent;
  --hover-offset: 0.16rem; // When text jumps in animation - slight offset

  // Sizing
  --blur: 1.42rem;
  --padding: 0.875rem;
  --letter-1: -0.0125rem;
  --letter-2: -0.01875rem;
  --letter-2-5: -0.02175rem;

  --benefits-blur: rgb(from var(--second) r g b / 0.055);

  // Transitions
  --theme-transition: 250ms ease;
  --theme-transition2: 310ms ease;
  --transition1: 350ms cubic-bezier(0.2, 0.6, 0.3, 1);
  --transition2: 440ms cubic-bezier(0.2, 0.6, 0.3, 1);
  --transition-slow-fast: 310ms cubic-bezier(0.64, 0.36, 0, 0.96);
  --transition-slow: 150ms ease;
  --transition-menu: 410ms cubic-bezier(0.64, 0.36, 0, 0.96);
  --transition-menu-delay: 410ms cubic-bezier(0.64, 0.36, 0, 0.96), backdrop-filter 475ms cubic-bezier(0.64, 0.36, 0, 0.96) 420ms;
}

// Themes
body[data-theme="light"] {
  --primary: #fff;
  --second: #000;

  --scroll-background: #bab9b9;
  --scroll-hover: #919193;

  --benefits-blur: rgb(from var(--second) r g b / 0.0265);
}

// General resets
body {
  background: var(--primary);
  color: var(--second);
  transition:
    background var(--theme-transition),
    color var(--theme-transition);
  font-family: var(--poppins);

  // Dev only
  margin-bottom: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--eiko);
  font-weight: 300;
  color: var(--second);
  transition: var(--theme-transition);
}

a {
  transition: var(--theme-transition);
}

// Desktop view
@media all and (min-width: 1025px) {
  :root {
    --padding: 1.81rem;
    font-size: 16px;
  }

  // Disable cursor
  *,
  html {
    cursor: none;
  }

  // Scrollbar
  body::-webkit-scrollbar {
    width: var(--scroll-width); // Whole width
  }

  body::-webkit-scrollbar-track {
    background: initial; // Make the track invisible
  }

  body::-webkit-scrollbar-thumb {
    background: var(--scroll-background); // Scrollbar thumb
    border-radius: 20rem;
    cursor: default;

    &:hover {
      background: var(--scroll-hover);
    }
  }
}

// Tablet
@media (min-width: 700px) and (max-width: 1024px) {
  html {
    font-size: 25px;
  }
}
