// Font
$poppins: "Poppins", sans-serif;
$eiko: "PP Eiko", sans-serif;

// Color theme
$primary: #fff;
$second: #000;
$accent1: #594CFF;
$accent2: #110039;

$blur: 1.42rem;

$padding1: 0.875rem;

// Mixins
@mixin blur {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;

  backdrop-filter: blur($blur);
  border-radius: 200rem;
}

// Functions
@function greyVariation($opacity) {
  @return rgb(186, 186, 186, $opacity);
}


// Media
@media (prefers-color-scheme: dark) {
  $primary: #000;
  $second: #fff;
}