// Thumbnail
.thumbnail {
  margin: 2.78rem 0 0 0;
  width: 100%;
  height: 34vh;
  position: relative;
}

// Play icon
.play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: none;
  border: none;

  svg {
    transform: scale(0.6);
  }
}


// Desktop view
@media all and (min-width: 1024px) {
  // Thumbnail
  .thumbnail {
    margin: 5.2rem 0 0 0;
    width: 100%;
    height: 81vh;
    position: relative;
  }

  // Play icon
  .play {
    svg {
      transform: scale(1);
    }
  }

}