@import '../../app/utils.scss';

// Nav
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 500;
  padding: 0 var(--padding1);
}




// Left
.left {
  display: flex;
  align-items: center;

  height: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.15rem;
  height: 2.15rem;
  position: relative;

  border-radius: 50%;
  background: rgb(186, 186, 186, 0.20);

  &::before {
    @include blur;
  }

  path {
    stroke: var(--second);
    transition: var(--theme-transition);
  }
}



// Middle
.middle {
  display: flex;
  align-items: center;

  svg {
    transform: scale(0.97);
  }

  path {
    fill: var(--second);
    transition: var(--theme-transition);
  }
}



// Right
.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4.15rem;
  height: 1.91rem;
  position: relative;

  border-radius: 200rem;
  background: rgb(186, 186, 186, 0.20);
  
  &::before {
    @include blur;
  }

  h4 {
    font-size: 0.744rem;
    font-weight: 400;
    font-family: var(--poppins);
  }
}