@import '../../app/utils.scss';

// Nav
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 500;
  padding: 0 var(--padding);
}



// Middle
.middleCont {
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    transform: scale(0.97);
  }

  path {
    fill: var(--second);
    transition: var(--theme-transition);
  }
}



// Desktop view
@media all and (min-width: 1025px) {
  // Nav
  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
    width: 100%;
    height: 4.25rem;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 500;
    padding: 0 var(--padding);
  }



  // Middle
  .middleCont {
    display: flex;
    align-items: center;
    justify-content: center;

    order: 2;
  }

  .middle {
    padding: 0.65rem;

    svg {
      transform: scale(0.97);
    }

    path {
      fill: var(--second);
      transition: var(--theme-transition);
    }
  }

}