.socials {
  display: flex;
  align-items: center;

  margin: 2.6rem 0 0 0;
}

// Social
.social {
  display: flex;

  width: 1.999rem;
  height: 1.999rem;
  position: relative;
  overflow-x: hidden;
  margin: 0 0.57rem 0 0;

  border-radius: 50%;
  border: 0.06rem solid var(--second);
  transition: 575ms ease;

  svg {
    transform: scale(1);
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0);

    border-radius: 50%;
    transition: var(--transition1);
  }

  // Svg wrapper & icon
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 100%;
    min-height: 100%;

    transition: var(--transition1);
  }

  .icon1 {
    svg, path {
      fill: var(--second);
    }
  }

  // Hover
  &:hover {
    border: 0.06rem solid transparent;

    .icon1 {
      margin: 0 0 0 -100%;
    }

    &::before {
      transform: scale(1);
    }
  }
}

// Active social icon every few seconds without hover
.socialActive {
  border: 0.06rem solid transparent;

  .icon1 {
    margin: 0 0 0 -100%;
  }

  &::before {
    transform: scale(1);
  }

  // Disable hover for active items
  &:hover {
    border: 0.06rem solid var(--second);

    .icon1 {
      margin: 0;
    }

    &::before {
      transform: scale(1);
    }
  }
}

// Container for animations
.iconCont {
  overflow: hidden;
}

// Colors
.facebook::before {
  background: var(--facebook);
}

.instagram::before {
  background: var(--instagram); 
}

.linkedIn::before {
  background: var(--linkedIn);
}

.twitter::before {
  background: var(--twitter);
}

.tikTok::before {
  background: var(--tikTok);
}



// Desktop
@media all and (min-width: 1025px) {
  .socials {
    display: flex;
    align-items: center;
  
    margin: 4.7rem 0 0 0;
  }
  
  // Social
  .social {
    display: flex;
  
    width: 2.75rem;
    height: 2.75rem;
    position: relative;
    overflow-x: hidden;
    margin: 0 0.67rem 0 0;
  
    border-radius: 50%;
    border: 0.06rem solid var(--second);
    transition: 575ms ease;
  
    svg {
      transform: scale(1.42);
    }
  
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      transform: scale(0);
  
      border-radius: 50%;
      transition: var(--transition1);
    }
  
    // Svg wrapper & icon
    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
  
      min-width: 100%;
      min-height: 100%;
  
      transition: var(--transition1);
    }
  
    .icon1 {
      svg, path {
        fill: var(--second);
      }
    }
  
    // Hover
    &:hover {
      border: 0.06rem solid transparent;
  
      .icon1 {
        margin: 0 0 0 -100%;
      }
  
      &::before {
        transform: scale(1);
      }
    }
  }
  
  // Active social icon every few seconds without hover
  .socialActive {
    border: 0.06rem solid transparent;
  
    .icon1 {
      margin: 0 0 0 -100%;
    }
  
    &::before {
      transform: scale(1);
    }
  
    // Disable hover for active items
    &:hover {
      border: 0.06rem solid var(--second);
  
      .icon1 {
        margin: 0;
      }
  
      &::before {
        transform: scale(1);
      }
    }
  }

  // Container for animations
  .iconCont {
    overflow: hidden;
  }
  
  // Colors
  .facebook::before {
    background: var(--facebook);
  }
  
  .instagram::before {
    background: var(--instagram); 
  }
  
  .linkedIn::before {
    background: var(--linkedIn);
  }
  
  .twitter::before {
    background: var(--twitter);
  }
  
  .tikTok::before {
    background: var(--tikTok);
  }

}