@import '../../app/utils.scss';

$contSize: 2.15rem;

.themeToggle {
  width: $contSize;
  height: $contSize;
  margin: 0 0 0 0.375rem;
  overflow-y: hidden;

  border-radius: 50%;
  background: var(--nav-items);
  position: relative;
  border: none;

  &::before {
    @include blur;
  }

  .moon svg {
    transform: scale(1);
  }

  .sun {
    transform: scale(1);
  }

  rect, path {
    fill: var(--second);
    transition: var(--theme-transition);
  }
  
  // Icon default
  .sunCont {
    margin-top: 0;
  }
}

// Active icon
.darkActive {
  .sunCont {
    margin-top: -$contSize;
  }
}

// Icons
.moonCont, .sunCont {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: $contSize;

  border-radius: 50%;
  transition: var(--theme-transition);
}

@media all and (min-width: 1025px) {
  $contSize: 2.15rem;

  .themeToggle {
    order: 2;

    @include hover;
  }

}