.landing {
  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: var(--letter-1);
    line-height: 105%;

    span {
      display: block;
    }
  }
}

// Info
.landing ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50% 50%);

  margin: 0.1rem 0 0 0;

  li {
    margin: 0.8rem 0 0 0;

    font-weight: 300;
    font-size: 0.73rem;
    list-style-type: none;
  }

  a {
    display: flex;
    align-items: center;
  
    width: fit-content;
    padding: 0 0 0 0.685rem;
    position: relative;

    color: var(--second);
    text-decoration: none;
    
    svg {
      transform: scale(0.83);

      transition: var(--transition2);
      margin: 0 0.5rem 0 0.11rem;
    }
  
    svg path {
      fill: var(--second);
      transition: var(--theme-transition);
    }
  
    svg path {
      transition: var(--theme-transition);
      fill: var(--second);
    }
    
    &::before {
      content: '';
      position: absolute;
      width: 70%;
      height: 1.52rem;
      left: 0;
      z-index: -1;
      margin: 0.02rem 0 0 0;
      
      background: var(--items-darker);
      border-radius: 5rem;
      transition: var(--transition1);
      border: 0.06rem solid transparent;
    }
  }
}

// Hover state
.landing ul {
  a:hover {
    svg {
      margin-left: 0.2rem;
    }
  
    &::before {
      width: 110%;
      
      background: transparent;
      border-color: var(--second);
    }
  }
}



@media all and (min-width: 1025px) {
  .landing {
    h1 {
      margin: 0 0 2rem 0;

      font-size: 4.69rem;
      font-weight: 300;
      letter-spacing: var(--letter-1);
      line-height: 105%;
  
      span {
        display: block;
      }
    }
  }
  
  // Info
  .landing ul {
    display: initial;

    margin: 2.6rem 0 0 0;
  
    li {
      margin: 0.9rem 0 0 0;
  
      font-weight: 300;
      font-size: 0.875rem;
      list-style-type: none;
    }
  
    a {
      display: flex;
      align-items: center;
    
      width: fit-content;
      padding: 0 0 0 0.685rem;
      position: relative;
  
      color: var(--second);
      text-decoration: none;
      
      svg {
        transform: initial;

        transition: var(--transition2);
        margin: 0 0.58rem 0 0.11rem;
      }
    
      svg path {
        fill: var(--second);
        transition: var(--theme-transition);
      }
    
      svg path {
        transition: var(--theme-transition);
        fill: var(--second);
      }
      
      &::before {
        content: '';
        position: absolute;
        width: 70%;
        height: 1.66rem;
        left: 0;
        z-index: -1;
        margin: 0.08rem 0 0 0;
        
        background: var(--items-darker);
        border-radius: 5rem;
        transition: var(--transition1);
        border: 0.06rem solid transparent;
      }
    }
  }
  
  // Hover state
  .landing ul {
    a:hover {
      svg {
        margin-left: 0.2rem;
      }
    
      &::before {
        width: 110%;
        
        background: transparent;
        border-color: var(--second);
      }
    }
  }

}