@import '../../../app/utils.scss';

.language {
  display: none;
}

@media all and (min-width: 1024px) {
  $contSize: 2.03rem;

  .language {
    display: initial;

    order: 3;
    height: $contSize;
    margin: 0 0.55rem;
    overflow-y: hidden;
    position: relative;

    border-radius: 50rem;
    border: none;
    background: var(--nav-items);
    font-size: 0.719rem;
    font-family: var(--poppins);
    color: var(--second);
    letter-spacing: var(--letter-2);

    @include hover;

    &:hover {
      & a:first-child {
        margin: -$contSize 0 0 0;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      padding: 0 1.15rem;
      
      transition: var(--theme-transition);
      text-decoration: none;
      color: var(--second);
      font-size: 0.719rem;
      border-radius: 50rem;
    }
  }

}