@import "../../../../../app/utils.scss";

.projects {
  p {
    margin: 3.38rem 13% 0 0;

    font-size: 0.8125rem;
    font-weight: 300;
    line-height: 166%;
    letter-spacing: var(--letter-2);
  }
}

// Each project
.project {
  margin: 4rem 0 0 0;

  &:first-child {
    margin: initial;
  }
}

.tags {
  display: flex;

  overflow-x: scroll;
  margin: 0.9rem 0 0 0;

  li {
    margin: 0 0.7rem 0 0;
    padding: 0.49rem 1.31rem;

    white-space: nowrap;
    list-style-type: none;
    font-size: 0.69rem;
    border-radius: 60rem;
    background: greyVariation(0.11);
  }
}
