$transitionTime: 230ms ease;

.flare {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;

  border: 0.094rem solid var(--second);
  border-radius: 50%;
  pointer-events: none;
  background: var(--second);
  transition:
    width $transitionTime,
    height $transitionTime,
    padding $transitionTime,
    background $transitionTime,
    border $transitionTime;
  cursor: none !important;
}

// Pointer
.pointer {
  background: transparent;
}



// Work
.work {
  background: var(--accent1);
  border-color: var(--accent1);
  color: var(--accent1-contrast);
}



// Remove for mobile and tablet
@media screen and (max-width: 768px) {
  .flare {
    display: none;
  }
}
