$transitionTime: 230ms ease;

.flare {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999999 !important;

  border: 0.094rem solid var(--second);
  border-radius: 50%;
  pointer-events: none;
  background: var(--second);
  transition: width $transitionTime, height $transitionTime, background $transitionTime, border $transitionTime;
  cursor: none !important;
}

// Pointer
.pointer {
  background: transparent;
}


// Work
.work {
  background: var(--accent1);
  border-color: var(--accent1);
  color: var(--accent1-contrast);
}

// Text inside
.view {
  font-size: 0.79vw;
  opacity: 0;
  visibility: 0;
}

.viewActive {
  opacity: 1;
  visibility: 1;
  transition: var(--theme-transition);
  transition-delay: 20ms;
}



// Work indicator
.workIndicator {
  --size: 5.72vw;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 0.0432vw;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);

  position: absolute;

  opacity: 0;
  visibility: 0;
}

.workIndicatorActive { // Active animation
  opacity: 1;
  visibility: 1;
  transition: opacity var(--theme-transition), visibility var(--theme-transition);
  transition-delay: 190ms;
}

.workIndicator circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.workIndicator circle.workInner {
  transform: translate(calc(50% - var(--half-size)), calc(50% - var(--half-size))) rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);

  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  stroke: var(--cursor-work);
}



// Remove for mobile and tablet
@media screen and (max-width: 768px) {
  .flare {
    display: none;
  }
}