@import '../../app/utils.scss';

// Main
.main {
  display: flex;
  align-items: center;

  height: 100%;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.15rem;
  height: 2.15rem;
  position: relative;

  border-radius: 50%;
  background: rgb(186, 186, 186, 0.20);

  &::before {
    @include blur;
  }

  path {
    stroke: var(--second);
    transition: var(--theme-transition);
  }
}



// Desktop view
@media all and (min-width: 1024px) {
  // Inverted -> Main
  .main {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    order: 3;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.15rem;
    height: 2.15rem;
    position: relative;

    border-radius: 50%;
    background: rgb(186, 186, 186, 0.20);

    &::before {
      @include blur;
    }

    path {
      stroke: var(--second);
      transition: var(--theme-transition);
    }
  }

}