// Main
.main {
  display: flex;
  align-items: center;

  height: 100%;
  
  h5 {
    display: none;
  }
}



// Desktop view
@media all and (min-width: 1025px) {
  // Inverted -> Main
  .main {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    order: 3;

    h5 {
      display: initial;

      order: 1;
      margin: 0 0.38rem 0 0;

      font-size: 0.72rem;
      font-family: var(--poppins);
      font-weight: 400;
      letter-spacing: var(--letter-2);

      &:hover {
        a::before {
          width: 89%;
        }
      }

      a {
        position: relative;

        color: var(--second);
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.15rem;
          width: 0%;
          height: 0.08rem;

          background: var(--second);
          transition: var(--transition-slow-fast);
        }
      }
    }
  }

}