@import '../../../app/utils.scss';

// Main
.main {
  display: flex;
  align-items: center;

  height: 100%;
  
  h5 {
    display: none;
  }
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.15rem;
  height: 2.15rem;
  position: relative;

  border-radius: 50%;
  background: rgb(186, 186, 186, 0.20);

  &::before {
    @include blur;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  path {
    stroke: var(--second);
    transition: var(--theme-transition);
  }

  // Disable text inside
  span {
    display: none;
  }
  
  .contactIcon div:last-child {
    display: none;
  }
}



// Desktop view
@media all and (min-width: 1025px) {
  // Inverted -> Main
  .main {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
    order: 3;

    h5 {
      display: initial;

      order: 1;
      margin: 0 0.38rem 0 0;

      font-size: 0.72rem;
      font-family: var(--poppins);
      font-weight: 400;
      letter-spacing: var(--letter-2);

      &:hover {
        a::before {
          width: 89%;
        }
      }

      a {
        position: relative;

        color: var(--second);
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -0.15rem;
          width: 0%;
          height: 0.08rem;

          background: var(--second);
          transition: var(--transition-slow-fast);
        }
      }
    }
  }

  // Contact btn
  $contactHeight: 2.03rem; 

  .contact {
    display: flex;
    align-items: center;
    justify-content: center;

    order: 4;
    width: initial;
    padding: 0 1.18rem;
    height: $contactHeight;
    position: relative;

    border-radius: 500rem;
    background: var(--nav-items);
    color: var(--second);
    text-decoration: none;

    @include hover;

    &::before {
      @include blur;
    }

    // On hover
    &:hover {
      div:first-child {
        margin: calc(-#{$contactHeight} - 0.075rem) 0 0 0;
      }
    }

    svg {
      margin: 0.05rem 0 0 0.42rem;

      path {
        stroke: var(--second);
        transition: var(--theme-transition);
      }
    }

    .contactSend {
      width: 0.813rem;
      height: 0.813rem;

      path {
        fill: var(--second);
      }
    }

    // Contact icon animation
    .contactIcon {
      height: $contactHeight;
      overflow-y: hidden;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;

        transition: var(--theme-transition);
      }
    }

    // Text inside
    span {
      display: inline;

      font-size: 0.72rem;
      white-space: nowrap;
    }

    .contactIcon div:last-child {
      display: flex;
    }
  }

}